body{
  background-color: #fff;
}
.relative{
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: -44px;
}
#spot{
  padding-top: 0px;
}
#spot #media{
  display: block;
  height: 625px;
  width: 100%;
  background-color: red;
  margin-top: 0px;
  position: relative;
  overflow: hidden;
}
#spot #media>.side{
  display: block;
  width: 50%;
  height: 625px;
  background-color: cadetblue;
  float: left;
  overflow: hidden;
}
#spot #media>.side .panel{
  display: block;
  background-color: #fff;
  transition: background-color .25s ease-out;
}
#spot #media>.side:first-child .panel{
  width: 100%;
  height: 625px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-right: 0px;
}
#spot #media>.side:nth-child(2) .panel{
  width: 50%;
  height: 313px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-right: 0px;
  float: left;
}
#spot #media>.side:nth-child(2) .panel:nth-child(2){
  border-right: 1px solid #333;
}
#spot #media>.side:nth-child(2) .panel:nth-child(3){
  height: 312px;
  border-top: 0px;
}
#spot #media>.side:nth-child(2) .panel:nth-child(4){
  height: 312px;
  border-top: 0px;
  border-right: 1px solid #333;
}
#spot #media:hover>.side .panel{
  cursor: pointer;
  background-color: #777;
  transition: background-color .25s ease-out;
}
#spot #media:hover>.side .panel:hover{
  cursor: pointer;
  background-color: #fff;
  transition: background-color .25s ease-out;
}
#spot #media>.side .panel{
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}


#spot #data{
  display: block;
  width: 1380px;
/*        background-color: rebeccapurple;*/
  min-height: 2800px;
  margin: auto;
  margin-top: 64px;
}
#spot #data>.reserve{
  display: block;
  width: 380px;
  min-height: 200px;
/*        background-color: blue;*/
  float: left;
  position: sticky;
  top: 64px;
  padding: 0px 40px;
}
#spot #data>.reserve>.inner{
  display: block;
  width: 100%;
  margin: auto;
  height: 520px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 1px;
}


#spot #data>.description{
  display: block;
  width: 880px;
  min-height: 900px;
/*        background-color: red;*/
  float: left;
  padding: 0px 10px;
}
#spot #data>.description>.row{
  width: 100%;
/*        background-color: aqua;*/
}
#spot #data>.description>.row::after{
  content: "";
  clear: both;
  display: table;
}
#spot #data>.description>.row>.col-1, #spot #data>.description>.row>.col-2, #spot #data>.description>.row>.col-3, #spot #data>.description>.row>.col-4{
  margin: 0px 10px;
  float: left;
/*        background-color: burlywood;*/
}
#spot #data>.description>.row>.col-1::after, #spot #data>.description>.row>.col-2::after, #spot #data>.description>.row>.col-3::after, #spot #data>.description>.row>.col-4::after{
  content: "";
  clear: both;
  display: table;
}
#spot #data>.description>.row>.col-1{
  width: 200px;
}
#spot #data>.description>.row>.col-2{
  width: 420px;
}
#spot #data>.description>.row>.col-3{
  width: 640px;
}
#spot #data>.description>.row>.col-4{
  width: 860px;
}
#spot #data>.description>#perks ul.tip{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#spot #data>.description>#perks ul.tip>li>.l{
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  text-align: center;
}
#spot #data>.description>#perks ul.tip>li>.r{
  display: inline-block;
  vertical-align: top;
}
#spot #data>.description .line{
  display: block;
  padding-top: 36px;
  width: 100%;
  border-bottom: 1px solid #eee;
}
#spot #data>.description>.row{
  padding-top: 24px;
}
#spot #data>.description>.row#overview{
  padding-top: 0px;
}

#spot #data>.description>#overview .profile-thumb{
  display: block;
  height: 120px;
  width: 120px;
  float: right;
  text-align: center;
}
#spot #data>.description>#overview .profile-thumb>.pic{
  display: block;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  background-color: #fce2e9;
  border-radius: 1px solid #eee;
  margin: 0px 20px;
}
#spot #data>.description>#overview .profile-thumb>.username{
  padding-top: 4px;
  opacity: .33;
}
#spot #data>.description>#overview .title{
  font-weight: 500;
  font-size: 2.5em;
}
#spot #data>.description>#overview .catcit{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
  padding-top: 7px;
  opacity: .33;
}
#spot #data>.description>#perks li{
  padding-bottom: 12px;
}
#spot #data>.description>#perks li:last-child{
  padding-bottom: 0px;
}
#spot #data>.description>#perks .title{
  font-weight: 500;
}
#spot #data>.description>#description .contact{
  color: #f9c7d7;
  font-weight: 500;
  font-size: 1.25em;
}
#spot #data>.description>#specs ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#spot #data>.description>#specs>div>.title, #spot #data>.description>#availability>div>.title{
  font-weight: 500;
  font-size: 1.25em;
  padding-bottom: 24px;
}
#spot #data>.description>#specs ul>li{
  padding-bottom: 12px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
}
#spot #data>.description>#specs ul>li:nth-child(odd){
  padding-right: 10px;
}
#spot #data>.description>#specs ul>li:nth-child(even){
  padding-left: 10px;
}
#spot #data>.description>#specs ul>li:last-child, #spot #data>.description>#specs ul>li:nth-last-child(2){
  padding-bottom: 0px;
}
#spot #data>.description>#specs ul>li>.l{
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  text-align: center;
}
#spot #data>.description>#specs ul>li>.r{
  display: inline-block;
  vertical-align: top;
}
#spot #data>.description>#specs ul>li>.r>.title{
  font-weight: 500;
}




#spot #data>.description>#availability .note{
  padding-bottom: 36px;
}
#spot #data>.description>#availability .cals{
  display: block;
  height: 380px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#spot #data>.description>#availability .cals>.fixed{
  position: absolute;
  top: 0;
  z-index: 2;
}
#spot #data>.description>#availability .cals>.fixed>.d{
  width: 100%;
}
#spot #data>.description>#availability .cals>.fixed>.d>.l, #spot #data>.description>#availability .cals>.fixed>.d>.r{
  float: left;
  margin: 0px 40px;
}
#spot #data>.description>#availability .cals>.fixed>.d>.l>.month, #spot #data>.description>#availability .cals>.fixed>.d>.r>.month{
  display: block;
  height: 50px;
  width: 350px;
}
#spot #data>.description>#availability .cals>.fixed>.d>.l>.month>.arrow, #spot #data>.description>#availability .cals>.fixed>.d>.r>.month>.arrow{
  display: block;
  width: 75px;
  text-align: center;
  height: 50px;
  line-height: 52px;
}
#spot #data>.description>#availability .cals>.fixed>.d>.r>.month>.arrow{
  float: right;
}
#spot #data>.description>#availability .cals>.fixed>.d .days>div{
  display: block;
  height: 30px;
  width: 50px;
  line-height: 32px;
  float: left;
  text-align: center;
  overflow: hidden;
  font-size: .85em;
}
#spot #data>.description>#availability .cals>.calendar{
  top: 0;
  position: absolute;
  z-index: 1;
  width: 5160px;
}
#spot #data>.description>#availability .cals>.calendar>.month{
  display: block;
  width: 350px;
  padding: 0px 40px;
  float: left;
}
#spot #data>.description>#availability .cals>.calendar>.month>.title{
  display: block;
  width: 100%;
  height: 50px;
  padding: 0px 0px 30px;
  line-height: 52px;
  text-align: center;
  font-weight: 500;
}
#spot #data>.description>#availability .cals>.calendar>.month>.days>.day{
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
  color: #6589fc;
}
#spot #data>.description>#availability .cals>.calendar>.month>.days>.day.taken{
  color: #ccc;
  cursor: default;
  pointer-events: none;
}
#spot #data>.description>#location .title{
  font-weight: 500;
  font-size: 1.25em;
  padding-bottom: 24px;
}
#spot #data>.description>#location .note{
  padding-bottom: 36px;
}
#spot #data>.description>#location .map{
  display: block;
  background-color: #d6defe;
  width: 860px;
  height: 440px;
  margin-bottom: 36px;
}
#spot #data>.description>#location .contact{
  color: #f9c7d7;
  font-weight: 500;
  font-size: 1.25em;
}